/*==================================
 Footer
===================================*/

.footer {
  padding: 0 1em 1em;
  font-size: 0.9em;
  text-align: center;
  color: $gray;

  @media print {
    display: none;
  }

  a {
    font-weight: inherit;
    color: inherit;
  }
}

/*==================================
 Sticky footer
===================================*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
