/*==================================
 Main/sections
===================================*/

body {
  @media screen and (min-width: $mq-large) {
    margin-left: $sidebar-width;
  }
}

main {
  padding: 2em 1em;

  @media (min-width: $mq-small) {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  @media (min-width: $mq-large) {
    padding-right: 4em;
    padding-left: 4em;
  }

  @media print {
    padding: 0;
  }
}

.section {
  margin-bottom: 2em;

  &__heading {
    margin-bottom: .3em;
    font-family: $delicious;
    font-size: 2.2em;
    font-weight: 900;
    line-height: 1.5;
    color: $blue;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -.05em;
    width: .7em;
    height: .7em;
    margin-right: .33em;

    @media screen and (min-width: $mq-large) {
      margin-left: -1.1em;
    }
  }
}
